{% load i18n %}
{% load product_tags %}

{% with products_sliced=products|slice:":6" %}
    {% if products_sliced %}
<!--        <div class="sub-header">-->
<!--            <h2>{% trans 'Products you recently viewed' %}</h2>-->
<!--        </div>-->

        {% for product in products_sliced %}
          <!-- Related Products Slider -->
          <div class="container">
            <div class="jtv-related-products">
              <div class="slider-items-products">
                <div class="jtv-new-title">
                  <h2>{% trans 'Products you recently viewed' %}</h2>
                </div>
                <div class="related-block">
                  <div id="jtv-related-products-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 products-grid">
                      {% for product in products %}
                      <div class="item">
                        <div class="item-inner">
                          <div class="item-img">
                           <div class="item-img-info">{% render_product product %}
                              {% include "oscar/partials/pagination.html" %}
<!--                            <div class="new-label new-top-left">new</div>-->
<!--                            <div class="sale-label sale-top-right">{% trans 'Sale' %}</div>-->
                           </div>
                          </div>
                        </div>
                      </div>
                     {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Related Products Slider End -->
        {% endfor %}
    {% endif %}



{% endwith %}
