{% load i18n %}
{% load image_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}


{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert alert-warning">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
    <div class="well">
        <h3>{% trans "You could be missing out on offers!" %}</h3>
        {% for upsell in upsell_messages %}
            {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                <div class="warning">{{ message }} to qualify for the <a href="{{ url }}">{{ offer_name }}</a> special offer</div>
            {% endblocktrans %}
        {% endfor %}
    </div>
{% endif %}


  <section class="main-container col1-layout">
    <div class="main container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
  {% if not basket.is_empty %}
          <div class="product-area">
               <h2>{% trans "Items to buy later" %}</h2>
            <div class="content-tab-product-category">
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="cart">
                  <!-- cart are start-->
               {% block basket_form_main %}
                  <div class="cart-page-area">
                    <form method="post" class="basket_summary" id="basket_formset">
                        {% csrf_token %}
                        {{ formset.management_form }}
                      <div class="table-responsive">
                        <table class="shop-cart-table">
                          <thead>
                            <tr>
                              <th class="product-thumbnail ">{% trans "Image" %}</th>
                              <th class="product-name ">{% trans "Product Name" %}</th>
                              <th class="product-price ">{% trans "Price" %}</th>
                              <th class="product-quantity">{% trans "Quantity" %}</th>
                              <th class="product-subtotal ">{% trans "Total" %}</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for form in formset %}
                            {% with line=form.instance product=form.instance.product %}
                                {% purchase_info_for_line request line as session %}
                            <tr class="cart_item">
                              <td class="item-img">
                                  {{ form.id }}
                                 {% with image=product.primary_image %}
                                    {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                                  <a href="{{ product.get_absolute_url }}">
                                      <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                                  </a>
                                 {% endwith %}
                              </td>
                              <td class="item-title">
                                  <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                                  <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                              </td>
                              <td class="item-price">
                                 {% if not line.unit_price_incl_tax and not line.unit_tax_excl_tax %}
                                   <p class="align-right">&mdash;</p>
                                   {% else %}
                                  <strong>
                                   {% if line.is_tax_known %}
                                        {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                    {% else %}
                                        {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                    {% endif %}
                                  </strong>
                                  {% endif %}
                              </td>
                              <td class="item-qty"><div class="cart-quantity">
                                  <div class="product-qty">
                                    <div class="input-group {% if form.errors %}error{% endif %}">
                                      <div class="cart-plus-minus">
                                         <span class="input-group-btn">
                                             {% render_field form.quantity class+="form-control" style="width: 55% !important;" %}
                                            <button class="btn btn-default" type="submit" data-loading-text="{% trans 'Updating...' %}">{% trans "Update" %}</button>
                                        </span>

                                          <div>
                                            <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove" class="inline">{% trans "Remove" %}</a>
                                            {% if user.is_authenticated %}
                                                | <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="save" class="inline">{% trans "Save for later" %}</a>
                                            {% endif %}
                                               <div style="display:none">
                                                {{ form.save_for_later }}
                                                {{ form.DELETE }}
                                                </div>
                                          </div>
                                      </div>

                                         {% for field_errors in form.errors.values %}
                                            {% for error in field_errors %}
                                                <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                            {% endfor %}

                                        {% endfor %}
                                    </div>
                                  </div>
                                </div></td>
                              <td class="total-price">
                                         {% if not line.line_price_incl_tax and not line_price_excl_tax %}
                                    <p class="align-right">&mdash;</p>
                                {% else %}
                                    <p class="price_color align-right">
                                        {% if line.is_tax_known %}
                                            {{ line.line_price_incl_tax|currency:line.price_currency }} 
                                        {% else %}
                                            {{ line.line_price_excl_tax|currency:line.price_currency }}
                                        {% endif %}
                                    </p>
                                {% endif %}
                              </td>

<!--                              <td class="remove-item"><a href="#"><i class="fa fa-trash-o"></i></a></td>-->
                            </tr>
                            {% endwith %}
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>

                      <div class="cart-bottom-area">
                        <div class="row">
                          <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="update-coupne-area">
                              <div class="update-continue-btn text-right">
                                <button class="button btn-continue" title="Continue Shopping" type="button">
                                    <span><a href="{{ homepage_url }}">{% trans "Continue shopping" %}</a></span>
                                </button>
                              </div>
<!--                              <div class="coupn-area">-->
<!--                             {% block vouchers %}-->
<!--                                {% if voucher_form %}-->
<!--                                <div class="discount">-->
<!--                                  <h3>{% trans "Voucher/promo code" %}</h3>-->
<!--                                  <label for="coupon_code">Enter your coupon code if you have one.</label>-->
<!--&lt;!&ndash;                                   <p id="voucher_form_link"><a href="#voucher" class="btn btn-default btn-full">{% trans "I have a voucher code..." %}</a></p>&ndash;&gt;-->
<!--                                  <form id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">-->
<!--                                        {% csrf_token %}-->
<!--                                        {% include "oscar/partials/form_fields.html" with form=voucher_form %}-->
<!--                                        <button type="submit" class="btn btn-info" data-loading-text="{% trans 'Adding...' %}">{% trans "Add voucher" %}</button>-->
<!--                                        {% trans "or" %} <a href="#" id="voucher_form_cancel">{% trans "cancel" %}</a>-->
<!--                                  </form>-->
<!--                                </div>-->
<!--                                 {% endif %}-->
<!--                            {% endblock vouchers %}-->

<!--                              </div>-->
                            </div>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="cart-total-area">
                              <div class="catagory-title cat-tit-5 text-left">
                                <h3>{% trans "Cart Totals" %}</h3>
                              </div>
                              <div class="sub-shipping">
                                {% block baskettotals %}
                                      {% include 'oscar/basket/partials/basket_totals.html' with editable=1 %}
                                {% endblock baskettotals %}
                              </div>
                              <div class="process-checkout-btn text-right">
                                <button class="button btn-proceed-checkout" title="Proceed to Checkout" type="button"><span>
                                  <a href="{% url 'checkout:index' %}" style="color: #fff;">{% trans "Proceed to checkout" %}</a></span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                     </form>
                    {% endblock %}
                  </div>
                  <!-- cart are end-->
                </div>
              </div>
            </div>
          </div>

{% else %}
    {% block emptybasket %}
        <p>
            {% trans "Your basket is empty." %}
            <button class="button btn-continue" title="Continue Shopping" type="button">
                <span><a href="{{ homepage_url }}">{% trans "Continue shopping" %}</a></span>
            </button>
        </p>
    {% endblock %}
{% endif %}

        </div>

      </div>
    </div>
  </section>

